.placeHolder {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 0 5px #ccc;
  background: #fff;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.loader {
  position: absolute;
  top: 50px;
  width: 100%;
}
