html,
body {
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  font-size: 15px;
}

#root {
  height: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
